@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("octopart.com") 
{

body
{
    background: #161616 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAH0lEQVQI12NgYGD4LycnB8cMKioqqAJwBlQlXACmEgCsthUB9mCnuQAAAABJRU5ErkJggg==") repeat !important;
}

#f-logo img, .header-searchbar-layout-col1 a img, 
#g-header-icon, .toolbar-logo, 
a.content-results-part-datasheet img, a.content-results-part-nodatasheet img {
	height: 0 !important;
	width: 0 !important;
}

#f-logo img {
	padding-left: 300px !important;
	padding-top: 80px !important;
	background: url(https://github.com/inductiveload/stylish-bathys/blob/master/octopart/Octopart%20dark.png?raw=true) no-repeat !important;
}

.header-searchbar-layout-col1 a img, #g-header-icon, .toolbar-logo  {
	padding-left: 181px !important;
	padding-top: 57px !important;
	background: url(https://github.com/inductiveload/stylish-bathys/blob/master/octopart/Octopart%20dark%20small.png?raw=true) no-repeat !important;
}

#g-header-icon {
    margin-top: -15px;
}

a.content-results-part-datasheet img {
	padding-left: 16px !important;
	padding-top: 16px !important;
    background: url(https://github.com/inductiveload/stylish-bathys/blob/master/icons/pdf-16.png?raw=true) no-repeat !important;
}

a.content-results-part-nodatasheet img {
	padding-left: 16px !important;
	padding-top: 16px !important;
    background: url(https://github.com/inductiveload/stylish-bathys/blob/master/icons/pdf-grey-16.png?raw=true) no-repeat !important;
}

body, #layout-col2-inner-wrapper {
    color: #AAA !important;
}

#ad {
    display: none !important;
}

#layout-body,
div#main-container.body-layout
{
    background: none !important;
}

#g-header-top-bg
{
    background-image: none !important;
}

.header-wrapper, #g-header-top-bg, #g-header-bottom,
.toolbar-wrapper, .content-filtersummary-wrapper,
.partsearch_sidebar, tr.shaded, .ui-tabs-panel,
#layout-col1-inner
{
    background-color: #333 !important
}

.content-filtersummary-wrapper, .partsearch_sidebar
{
    border: 1px solid black !important;
}

a.content-results-part-title, span.nv {
    color: #91DBF7 !important;
}

a,
.sidebar-filter-label.unselectable,
#offertable tbody tr,
div.title, #summary-title, 
h1, h2, h3 {
    color: #EEE !important;
}

#f-category-table td a {
    color: #AAA !important;
}

#g-header-top li
{
    text-shadow: none !important;
}
    
#g-header-top li a
{
    color: #aaa !important;
}

.sidebar-categories, td.nodename > a {
    color: #aaa !important;
}

.sidebar-node-line-selected-ancestor,
#g-footer-bg,
div.code-example-content, .highlight, pre,
.endpoint > li label, .content-noresults
{
    background: #222 !important
}

.sidebar-node-line-selected,
th {
    background: #111 !important;
    color: #FFF !important;
}

.sidebar-node-toggleswitch {
    color: #888 !important;
}

#banner-wrapper, #banner_wrapper {
    border-left: none !important;
}

th, #offertable td, #specs td, .schema-group td, .rest-tabdata td {
    border: 1px solid black !important;
}

td.sectionnamecol
{
    border: none !important;
}

td.offertable-pricecol,
td.offertable-stockcol,
.content-results-part-offertable,
.specs-valcol, code
 {
    color: green !important;
}

#home-logo-table {
    background: #FFF;
}

 .endpoint > li {
    box-shadow: none;
}

.endpoint-container-header-row1 td.selected {
    background: #444 !important;
}

#f-category-table th
{
    border: none !important;
}

.button, button, input[type="button"], input[type="reset"], input[type="submit"]
{
    box-shadow:none !important;
}


}
